.h-section {
    width: 90%;
    margin: 3em auto;
    border-radius: 2em;
    background-image: url(assets/background3.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.h-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h-text,
.h-image {
    width: 40%;
    margin-top: 1.5em;
}

.h-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.h-text {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.h-text p {
    margin: 3em 0;
    font-weight: 600;
    font-size: 20px;
}

.h-text h1 {
    font-size: 5em;

}

.watch-button {
    background-color: rgb(255, 0, 0);
    width: 130px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 12px;
}

.watch-button:hover {
    background-color: rgb(0, 8, 160);
    transition: 1s;
}


.watch-button a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.w-button {
    display: none;
}



/* ---Blogs--- */


.all-container {
    width: 90%;
    margin: auto;
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.page {
    float: left;
    width: 30%;
    margin: auto;
    background-color: #1e7682;
    border-radius: 10px;
}

.tabs {
    padding: 15px;
    background-color: #6a65d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.page p {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    text-align: center;
    background-color: rgb(232, 215, 215);
    margin-top: 15px;
    border-radius: 15px;
}

.blog-color {
    background-color: rgb(7, 1, 76) !important;
    color: white !important;
}

.page a {
    text-decoration: none;
    color: rgb(174, 0, 0);
    padding: 10px 15px;
    margin: 15px;
}

.blog {
    width: 85%;
    margin: auto;
    box-shadow: 2px 2px 10px 1px gray;
    border-radius: 10px;
}

.blog-detail {
    margin-left: 20px;
}

.b-button {
    padding: 3px 5px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}

.blog-image img {
    width: 100%;
}

.b-text {
    font-weight: 600;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.duration {
    margin-right: 15px;
}

.comments img {
    display: block;
}



/* ---start of footer */

footer {
    width: 100%;
    height: 300px;
    background-color: rgb(31, 65, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

footer h1 {
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 30px 0;
}

nav {
    margin: 10px 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
}

.logos {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.logos i {
    font-size: 50px;
}

.logos a {
    color: white;
}

.f-border {
    border-bottom: 1px solid rgb(133, 164, 198);
    padding-bottom: 15px;
}

.view-all {
    width: 20%;
    margin: 30px auto;
    border-radius: 10px;
    display: hide;
}

/* ---Upcoming--- */
.matchs-container {
    grid-column-gap: 50px;
}

.match-control {
    width: 25%;
}

.match-container {
    padding: 2px;
    width: 90%;
    box-shadow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-image {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.match-image img {
    width: 40%;
}



.match-details h3 {
    margin: 10px 0;
}

.match-details p {
    font-size: 12px;
    margin: 10px 0;
}

.upcomig {
    background-color: rgb(7, 1, 76) !important;
}

.upcomig a {
    color: white !important;

}


/* ---For Tab--- */


@media screen and (max-width:821px) {
    .h-text h1 {
        font-size: 1.5em;
        margin-top: 3em;
    }

    .h-text,
    .h-image {
        width: 45%;
    }

    .last-blog {
        display: none;
    }

    .all-container {
        clear: both;
        display: flex;
        flex-direction: column;
    }

    .blogs-container {
        grid-template-columns: 1fr 1fr;
    }

    .tabs {
        margin: auto;
        flex-direction: row;
        background-color: white;
        border-radius: 0;
    }

    .page {
        width: 99%;
        margin: auto;
        margin-bottom: 25px;
    }


    .tabs p {
        margin-right: 20px;
        justify-content: space-between;
        box-shadow: 2px 1px 10px 3px gray;
        font-size: 18px;
    }

    .view-all {
        display: block;
    }

    .w-button {
        display: block;
    }

}

/* ---For mobile--- */

@media screen and (max-width:576px) {
    .h-container {
        flex-direction: column;
        text-align: center;
    }

    .h-text h1 {
        font-size: 2em;
        margin-top: 15px;
    }

    .h-text,
    .h-image {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h-text p {
        margin: 1.5em 0;
    }

    .watch-button {
        width: 50%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        margin-bottom: 15px;
    }

    footer {
        height: 90vh;

    }

    .logos i {
        font-size: 25px;
    }

    .blogs-container {
        grid-template-columns: 1fr;
        clear: left;
    }

    .tabs {
        flex-direction: column;
        background-color: white;
        border-radius: 2px;

    }

    .tabs p {
        width: 300px;
        flex-direction: row;
        padding: 2px 5px;
        box-shadow: 2px 1px 10px 3px white;
    }

    .tabs a {
        flex-direction: row;
        font-size: 25px;
    }

    .all-container {
        display: flex;
        flex-direction: column;
    }


    .control-of-page {
        margin-bottom: 30px;

    }

    .w-button {
        display: none;
    }
}